.in-inner{
        background: #0f0f0f59;
        width: 30%;
        margin: 20px auto;
        display: flex;
        padding: 50px;
        border-radius: 20px;
        border: 1px solid rgb(56, 56, 56);
}
#login,#signup{
        /* width: 50%; */
        text-align: center;
}
.in-inner hr{
        border-color: #000;
        
}
.in-inner h2:first-child{
        margin-top: 35px;
}
.in-inner h2{
        margin-bottom: 80px ;
}
.in-inner input
{
        width: 90%;
        height: 60px;
        background: #0f0f0f59;
        border: 1px solid rgba(255, 255, 255, 0.37);
        border-radius: 10px;
        margin: 20px;
        text-align: center;
        color: white;
        font-size: 2rem;
}
[type='submit']{
        cursor: pointer;
        width: 90%;
        height: 60px;
        font-size:2em;
        background: #0f0f0f59;
        color: white;
        border: 1px solid rgb(107, 107, 107);
        border-radius: 10px;
        margin: 20px;
}
[type='submit']:hover{
        border: 1px solid white;
}
#Auth2{
        width: 90%;
        
}
.admin-controll{
        background: #00000044;
}
.admin-controll table{
        width: 100%;
}
.admin-controll table,tr,td,th{
        text-align: center;
        padding: 15px;
        border: 1px solid white;
        border-collapse: collapse;
}
td button:hover{
        font-weight: bolder;
}
td button {
        margin: 0;
        width: 100%;
        height: 50px;
        color: white;
        font-size: 1.2em;
        border: none;
        cursor: pointer;
}
td:last-child{
        padding: 0;
        width: 200px;
}
td button:first-child {
        background: blue;
}
td button:last-child{
        background: #F00;
}